<div class="cet-miab-game-board {{gameState}}">
    <div class="cet-miab-game-board__puzzle">
        {{#each puzzleBoard as | puzzleBoardRow puzzleBoardRowIndex |}}
        <div class="cet-miab-game-board__puzzle-row cet-miab-game-board__puzzle-row-{{puzzleBoardRowIndex}}">
            {{#each puzzleBoardRow as | puzzlePiece puzzlePieceIndex |}}
            <div class="cet-miab-game-board__puzzle-item {{if puzzlePiece.focus 'focus'}}"
                {{action "onPuzzlePieceClick" puzzlePiece puzzleBoardRowIndex puzzlePieceIndex}}>
                <img src="{{puzzlePiece.url}}">
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>

    <div class="cet-miab-game-board__control">
        <div class="cet-miab-game-board__control-item">
            {{cet-miab-game-timer countFrom=600 timerState=gameState timesUp=(action "timesUpAction")}}

            <div class="cet-miab-game-board__control-item-label">Moves</div>
            <div class="cet-miab-game-board__control-item-value">{{moves}}</div>
        </div>
        <div class="cet-miab-game-board__control-item">
            <div class="cet-miab-game-btn">
                <button type="button" {{action "onGameCtrlBtnClick"}}>{{gameControlButtonLabel}}</button>
            </div>
        </div>
        <div class="cet-miab-game-board__control-item">
            
        </div>
    </div>
</div>