<div class="cet-miab-game-board cet-miab-picture-puzzle {{gameState}}">
    <div class="cet-miab-game-board__puzzle">
        {{#each puzzleBoard as | puzzleBoardRow puzzleBoardRowIndex |}}
        <div class="cet-miab-game-board__puzzle-row cet-miab-game-board__puzzle-row-{{puzzleBoardRowIndex}}">
            {{#each puzzleBoardRow as | puzzlePiece puzzlePieceIndex |}}
            <div class="cet-miab-game-board__puzzle-item {{if puzzlePiece.focus 'focus'}}"
                {{action "onPuzzlePieceClick" puzzlePiece puzzleBoardRowIndex puzzlePieceIndex}}>
                <img src="{{puzzlePiece.url}}">
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>

    <div class="cet-miab-game-board__control">
        <div class="cet-miab-game-board__control-item cet-miab-game-stats">
            <div class="cet-miab-game-stats__item">
                {{cet-miab-game-timer countFrom=600 timerState=gameState timesUp=(action "timesUpAction")}}
            </div>
        </div>
        <div class="cet-miab-game-board__control-item">
            <div class="cet-miab-game-btn">
                <button type="button" {{action "onGameCtrlBtnClick"}}>{{gameControlButtonLabel}}</button>
            </div>
        </div>
        <div class="cet-miab-game-board__control-item cet-miab-pp-help">
            <div class="cet-miab-game-help" {{action "showReferenceImageAction"}}>
                <img src="/cet-miab-picture-puzzle/assets/img/ref-icon.png" alt="help">
            </div>
            <div class="cet-miab-game-help" {{action "showInstructionsAction"}}>
                <img src="/cet-miab-game-core/assets/img/help.png" alt="help">
            </div>
        </div>
    </div>
</div>